/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
  width: 60vmin;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  /* width: 100%; */
}

.taboulehNearContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

#taboulehNearContainerIdBannerHeader {
  width: 100%;
}

.flex-col-1 {
  width: 100%;
}

.title-container {
  height: 10vmin;
  /* width: 60vmin; */
  margin: 0;
}

.businessTitle {
  font-size: calc(2vw + 5px);
  font-weight: bold;
  margin: 0;
}

/* .address-container {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.address {
  font-size: 1em;
  padding: 5px;
} */

.phone-number-container .image {
  /* height: 20vmin;
    width: 60vmin; */
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: baseline;
}

.address img {
  width: 3.6rem;
  height: auto;
}

.phone-number img {
  width: 3.3rem;
  height: auto;
}

.image img {
  height: 30vmin;
  width: 60vmin;
  background-size: cover;
}

@media only screen and (max-width: 750px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: auto;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    /* width: 100%; */
  }

  .businessTitle {
    font-size: 5vw;
    font-weight: bold;
    margin: 0;
  }

  .address img {
    width: 2.9rem;
    height: auto;
    padding: 30px;
  }

  .phone-number img {
    width: 2.9rem;
    height: auto;
    padding: 30px;
  }

  .image img {
    height: 50vmin;
    width: 80vmin;
    background-size: cover;
  }

  @media only screen and (max-width: 670px) {
    html,
    body {
      overflow-x: hidden;
    }
    body {
      position: relative;
    }
    .businessTitle {
      font-size: 5vw;
      font-weight: bold;
      margin: 0;
    }

    .address img {
      width: 3.8rem;
      height: auto;
      padding: 30px;
    }

    .phone-number img {
      width: 3.8rem;
      height: auto;
      padding: 30px;
    }

    .image img {
      height: 50vmin;
      width: 80vmin;
      background-size: cover;
    }
  }
}
@media only screen and (max-width: 500px) {
  .address img {
    width: 3rem;
    height: auto;
    padding: 30px;
  }

  .phone-number img {
    width: 2.7rem;
    height: auto;
    padding: 30px;
  }
  .card {
    padding-top: 100px;
  }
}
